.table-responsive{
    overflow-y: auto;
    max-height: 700px;
}

.table-responsive th {
    width: 200px;
    padding: 7px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container th{
    font-weight: bold;
    text-align: right;
}
.table-wew th{
    text-align: center;

}

td{
    text-align: center;
}

.btn{
    width: 120px;
}

th, td {
    color: black !important;
}